<div class="page">
    <div class="title">
        <h2>Kontakt</h2>
        <img class="addition" src="../../../assets//additions/addition03.png" alt="realizacje oferty zarządzanie nieruchomościami">
    </div>
    <div class="page_container">
        <!-- <div class="info_container">
            info
        </div> -->
        <div class="form_container">
            <div class="card">
                <input placeholder="Imię i nazwisko" type="text">
                <input placeholder="Adres e-mail" type="email">
                <textarea placeholder="Opis..." name="" id="" cols="30" rows="10"></textarea>
                <p>Administratorem danych osobowych jest firma Mandala Nieruchomości z siedzibą przy ul. Wakacyjna 19(2), 60-185 Skórzewo. Dane podane w formularzu są niezbędne do przesłania odpowiedzi na zapytanie oraz przedstawienie oferty. Więcej informacji dotyczących przetwarzania danych osobowych znajduje się w <a href="">polityce prywatności.</a></p>
                <div class="btn_container">
                   <button>Wyślij</button> 
                </div>
            </div>
        </div>
    </div>
</div>