<div class="page">
    <div class="title">
        <h2>Kontakt</h2>
        <img class="addition" src="../../../assets//additions/addition03.png" alt="realizacje oferty zarządzanie nieruchomościami">
    </div>
    <div class="page_container">
        <!-- <div class="info_container">
            info
        </div> -->
        <div [formGroup]="formEmail" class="form_container">
            <div class="card">
                <input formControlName="name" placeholder="Imię i nazwisko" type="text">
                <input formControlName="email" placeholder="Adres e-mail" type="email">
                <textarea formControlName="description" placeholder="Opis..." name="" id="" cols="30" rows="10"></textarea>
                <div class="desc_text">Administratorem danych osobowych jest firma Mandala Nieruchomości z siedzibą przy ul. Wakacyjna 19<div class="txt_no_font">/</div>2, 60-185 Skórzewo. Dane podane w formularzu są niezbędne do przesłania odpowiedzi na zapytanie oraz przedstawienie oferty. Więcej informacji dotyczących przetwarzania danych osobowych znajduje się w <a (click)="privacyPolicy($event)" href="">polityce prywatności.</a></div>
                <div class="btn_container">
                   <button [disabled]="this.loadingLogin" (click)="submitEmail()">Wyślij</button> 
                </div>
            </div>
        </div>
    </div>
</div>