<div class="page">
    <div class="title">
        <h2>Kontakt</h2>
        <img class="addition" src="../../../assets//additions/addition03.png" alt="realizacje oferty zarządzanie nieruchomościami">
    </div>
    <div class="page_container">
        <!-- <div class="info_container">
            info
        </div> -->
        <div class="form_container">
            <div class="card">
                <input placeholder="Imię i nazwisko" type="text">
                <input placeholder="Adres e-mail" type="email">
                <textarea placeholder="Opis..." name="" id="" cols="30" rows="10"></textarea>
                <div class="btn_container">
                   <button>Wyślij</button> 
                </div>
            </div>
        </div>
    </div>
</div>