<div class="card">
    <div class="big_image_container">
        <img [src]="this.data?.images![this.indexSelectImage!].bloob" alt="">
    </div>
    <div class="panel_with_images">
        <h2>{{this.data?.title}}</h2>
        <p>{{this.data?.description}}</p>
        <div class="images_list_component">
            <div (click)="selectImage(i)" *ngFor="let image of this.data?.images; let i = index" class="image">
                <img [src]="image?.bloob" alt="">
                <!-- {{image.id}} -->
            </div>
        </div>
    </div>
</div>
