<div class="page">
    <div class="container_footer">
        <div class="title">
            <img class="img_logo_white" src="../../../assets/logo/Mandala_sygnet_bialy_przezroczystosc.png" alt="">
            MANDALA
        </div>
        <!-- <p class="description">Postaw na doświadczenie i jakość!</p> -->
        <p class="description">Inwestycja w doświadczenie, gwarancja jakości.</p>
        <div class="row_contact">
            <div class="email_container">
                <div class="container_title">
                    <img src="../../../assets/icons/email-svgrepo-com.svg" alt="">
                    <div class="container_column">
                        <h3>Email</h3>
                        <a href="mailto:biuro@mandalanieruchomosci.com">biuro@mandalanieruchomosci.com</a>
                    </div>
                </div>
            </div>
            <div class="phone_container">
                <div class="container_title">
                    <img src="../../../assets/icons/phone-svgrepo-com.svg" alt="">
                    <div class="container_column">
                        <h3>Kontakt</h3>
                        <a href="tel:+538337774">+ (48) 538 337 774</a>
                    </div>
                </div>
            </div>
            <div class="location_container">
                <div class="container_title">
                    <img class="icon_location" src="../../../assets/icons/location-svgrepo-com.svg" alt="">
                    <div class="container_column">
                        <h3>Lokalizacja</h3>
                        <div (click)="openMap()" class="txt_row">ul. Wakacyjna 19 / 2</div>
                        <p (click)="openMap()" class="txt_row">60-185 Skórzewo</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright">Copyright @2023. Design by <a target="_blank" href="https://www.linkedin.com/in/mikolaj-andrzejewski-90a75523b/">Mikołaj Andrzejewski</a></p>
    </div> 
    <img class="addition addition_bottom_right" src="../../../assets/additions/addition01.png" alt="">
    <img class="addition addition_bottom_left" src="../../../assets/additions/addition01.png" alt="">
</div>

