<div class="page">
    <div class="container_footer">
        <div class="title">
            MANDALA
        </div>
        <p class="description">Postaw na doświadczenie i jakość!</p>
        <div class="row_contact">
            <div class="email_container">
                
                <h3>Email</h3>
            </div>
            <div class="phone_container">
                <h3>Kontakt</h3>
            </div>
            <div class="location_container">
                <h3>Lokalizacja</h3>
            </div>
        </div>
        <p class="copyright">Copyright @2023. Design by Mikołaj Andrzejewski</p>
    </div> 
</div>

