.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: start;
}

@media (max-width: 1000px) {
  .page {
    grid-template-columns: 1fr;
  }

  app-realization-create {
    order: -1;
  }
}
