.page{
    height: 100vh;
    background: rgb(33,33,33);
    background: radial-gradient(circle, rgba(33,33,33,1) 0%, rgba(14,14,14,1) 100%);
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 30px 0px;
}
.custom-font {
    font-family: "MandalaBrampton", sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 76px);
    column-gap: 6rem;
    padding-top: 62px;
}
.title_row{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.title{
    color: #fff;
    // flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 45%;
}
.title h1{
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 0.5rem;
}
.title h3{
    font-size: 1rem;
    color: #a5a5a5;
}
.image_header{
    color: #fff;
    // flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 55%;
}
.image_header img{
    width: 75%;
    z-index: 2;
}
.btn_container button{
    border-radius: 50px;
    border: 2px solid #c5a342;
    background: transparent;
    color: #fff;
    padding: 0.7rem 2rem;
    cursor: pointer;
    font-size: 0.7rem;
    font-family: 'Righteous';
    letter-spacing: normal;
}
.border_line{
    border-bottom: 4px solid #fff;
    width: 3.5rem;
    margin-top: 1.2rem;
    margin-right: 1.5rem;
}
.addition{
    scale: 1;
    height: 180px;
    position: absolute;
}
.addition_top_right{
    top: 5px;
    right: 5px;
}
.addition_top_left{
    top: 5px;
    left: 5px;
    transform: rotateY(180deg);
}
.addition_bottom_right{
    top: 5px;
    left: 0;
    transform: rotateZ(90deg);
}
.addition_bottom_left{
    top: 5px;
    left: 0;
    transform: rotateZ(180deg);
}
// .absolute_logo{
//     position: absolute;
//     width: 800px!important;
//     z-index: 1!important;
//     // height: 100px;
// }
.title_logo{
    width: 100px!important;
    height: 100px;
    margin-right: 1.5rem;
    animation: rotation 16s infinite linear;
}
.desc_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    // font-size: 1rem;
    font-family: 'Righteous';
    letter-spacing: normal;
}
.typing-element{
    margin-left: 5px;
}
.title_container h1{
    color: #c5a342!important;
}






@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


@media only screen and (max-width: 1400px){
    main{
        margin-left: 5%;
    }
    .title{
        width: 60%;
    }
}

@media only screen and (max-width: 1000px){
    .page{
        // height: 70vh;
    }
    main{
        flex-direction: column;
        margin: 0rem 10%;
        justify-content: center;
    }
    .title{
        width: 100%;
    }
    .title h1{
        font-size: 1.6rem;
        text-align: center;
    }
    .title h3{
        white-space: nowrap;
    }
    .addition{
        scale: 1;
        height: 100px;
        position: absolute;
    }
    .addition_top_right{
        top: 5px;
        right: 5px;
    }
    .addition_top_left{
        top: 5px;
        left: 5px;
        transform: rotateY(180deg);
    }
    .title_row{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
        align-items: center;
    }
    .title_container{
        width: 100%;
    }
    .desc_row{
        justify-content: center;
    }
    .btn_container{
        display: flex;
        justify-content: center;
    }
    .title_logo{
        margin-right: 0px;
    }
    .image_header{
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
    }
    .image_header img{
        width: 100%;
    }
}
