.page{
    height: 100vh;
    background: rgb(33,33,33);
    background: radial-gradient(circle, rgba(33,33,33,1) 0%, rgba(14,14,14,1) 100%);
    position: relative;
}
.custom-font {
    font-family: "MandalaBrampton", sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 76px);
    column-gap: 6rem;
}
.title_row{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.title{
    color: #fff;
    // flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 45%;
}
.title h1{
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 0.5rem;
}
.title h3{
    font-size: 1rem;
    color: #a5a5a5;
}
.image_header{
    color: #fff;
    // flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 55%;
}
.image_header img{
    width: 75%;
    z-index: 2;
}
.btn_container button{
    border-radius: 50px;
    border: 2px solid #c5a342;
    background: transparent;
    color: #fff;
    padding: 0.7rem 2rem;
    cursor: pointer;
}
.border_line{
    border-bottom: 4px solid #fff;
    width: 3.5rem;
    margin-top: 1.2rem;
    margin-right: 1.5rem;
}
.addition{
    scale: 1;
    height: 180px;
    position: absolute;
}
.addition_top_right{
    top: 5px;
    right: 5px;
}
.addition_top_left{
    top: 5px;
    left: 5px;
    transform: rotateY(180deg);
}
.addition_bottom_right{
    top: 5px;
    left: 0;
    transform: rotateZ(90deg);
}
.addition_bottom_left{
    top: 5px;
    left: 0;
    transform: rotateZ(180deg);
}
// .absolute_logo{
//     position: absolute;
//     width: 800px!important;
//     z-index: 1!important;
//     // height: 100px;
// }
.title_logo{
    width: 100px!important;
    height: 100px;
    margin-right: 1.5rem;
    animation: rotation 16s infinite linear;
}
.desc_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.typing-element{
    margin-left: 5px;
}






@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}