<div class="page">
    <app-navigation></app-navigation>
    <main>
        <div class="title">
            <div class="title_row">
                <!-- <div class="border_line"></div> -->
                <img class="title_logo" src="../../../assets/logo/Mandala_sygnet_bialy_przezroczystosc.png" alt="">
                <div class="title_container">
                    <h1>
                        Mandala - zarządzanie <br>nieruchomościami
                    </h1>
                    <div class="desc_row">
                        <h3>Dopasowane rozwiązania</h3><h3 class="typing-element"></h3>
                    </div>
                    
                    <div class="btn_container">
                        <button class="custom-font">Sprawdź naszą ofertę</button>
                    </div>
                </div>
            </div>
            <!-- <div class="border_line"></div>
            <div class="title_container">
                <h1>
                    Mandana - zarzadzanie <br>nieruchomościami
                </h1>
                <h3>Dopasowane rozwiązania dla Twoich potrzeb!</h3>
                <div class="btn_container">
                    <button>Sprawdź naszą ofertę</button>
                </div>
            </div> -->
        </div>
        <div class="image_header">
            <!-- <img src="../../../assets/6764671_3433508-removebg-preview.png" alt="zarządzanie nieruchomościami"> -->
            <img src="../../../assets/nowoczesna-dzielnica-mieszkaniowa-z-zielonym-dachem-i-balkonem-wygenerowana-przez-sztuczna-inteligencje (2).png" alt="zarządzanie nieruchomościami">
            <!-- <img class="absolute_logo" src="../../../assets/logo/Mandala_sygnet_bialy_przezroczystosc.png" alt=""> -->
        </div>
    </main>
    <img class="addition addition_top_right" src="../../../assets/additions/addition01.png" alt="">
    <img class="addition addition_top_left" src="../../../assets/additions/addition01.png" alt="">
</div>

