<div class="page">
    <div class="margins">
        <h2>Polityka Prywatności</h2>
        <p>W trosce o ochronę Twojej prywatności oraz zgodnie z obowiązującymi przepisami prawa, firma Mandala Nieruchomości Kacper Plenzer dba o bezpieczeństwo Twoich danych osobowych. Poniżej znajdziesz naszą politykę prywatności, która wyjaśnia, jakie informacje gromadzimy za pośrednictwem formularza kontaktowego oraz w jaki sposób je przetwarzamy.</p>
        <p>1. Rodzaj danych osobowych zbieranych przez formularz kontaktowy:</p>
            <ul>
                <li>
                    Imię i nazwisko
                </li>
                <li>
                    Adres e-mail
                </li>
                <li>
                    Treść wiadomości
                </li>
            </ul>
        <p>
            2. Cel zbierania danych:
        </p>
        <ul>
            <li>
                Dane osobowe zbierane za pomocą formularza kontaktowego są wykorzystywane w celu umożliwienia kontaktu zwrotnego oraz udzielenia odpowiedzi na Twoje pytania lub prośby. Mogą być również wykorzystywane w celach marketingowych.
            </li>
        </ul>
        <p>
            3. Sposób zbierania danych:
        </p>
        <ul>
            <li>
                Dane osobowe przekazywane za pośrednictwem formularza kontaktowego są dobrowolnie udostępniane przez Ciebie poprzez wypełnienie formularza i jego przesłanie. Niezbędne jest podanie imienia, nazwiska oraz adresu e-mail, abyśmy mogli odpowiedzieć na Twoje zapytanie.
            </li>
        </ul>
        <p>
            4. Przechowywanie danych:
        </p>
        <ul>
            <li>
                Twoje dane osobowe są przechowywane w naszej bazie danych przez okres niezbędny do realizacji celu, dla którego zostały zebrane, oraz zgodnie z obowiązującymi przepisami prawa.            
            </li>
        </ul>
        <p>
            5. Udostępnianie danych osobowych:
        </p>
        <ul>
            <li>
                Twoje dane osobowe nie będą udostępniane osobom trzecim bez Twojej wyraźnej zgody, chyba że jest to wymagane przez obowiązujące przepisy prawne.
            </li>    
        </ul>
        <p>
            6. Prawa związane z danymi osobowymi:
        </p>
        <ul>
            <li>
                Masz prawo dostępu do swoich danych osobowych, ich poprawienia, usunięcia lub ograniczenia przetwarzania. Masz również prawo do wniesienia sprzeciwu wobec przetwarzania danych oraz prawo do przenoszenia danych.
            </li>    
        </ul>
        <p>
            7. Bezpieczeństwo danych:
        </p>
        <ul>
            <li>
                Dbamy o bezpieczeństwo Twoich danych osobowych i podejmujemy odpowiednie środki techniczne i organizacyjne, aby je zabezpieczyć przed nieuprawnionym dostępem lub ich utratą.
            </li>    
        </ul>
        <p>
            8. Kontakt:
        </p>
        <ul>
            <li>
                W przypadku pytań dotyczących naszej polityki prywatności lub w celu realizacji swoich praw związanych z danymi osobowymi, prosimy o kontakt pod adresem:

Firma Mandala Nieruchomości Kacper Plenzler, Adres: ul. Wakacyjna 19 / 2, 60-185 Skórzewo, NIP: 777 340 29 74, E-mail: biuro@mandalanieruchomosci.com, Telefon: 538 337 774
            </li>    
        </ul>
        <p>
            9. Zgoda na przetwarzanie danych:
        </p>
        <ul>
            <li>
                Przesyłając nam swoje dane osobowe za pomocą formularza kontaktowego, wyrażasz zgodę na przetwarzanie tych danych zgodnie z naszą polityką prywatności.
            </li>    
        </ul>
        <p>
            Ta polityka prywatności obowiązuje od 14.09.2023r. i może być okresowo aktualizowana. O wszelkich zmianach będziemy informować na naszej stronie internetowej.
        </p>




    </div>
</div>

