<footer>
  <div class="top">
    <div class="logo">
      <img src="assets/logo/Mandala_zloto_sygnet.png" alt="Mandala">
      MANDALA
    </div>
    <p class="tagline">Inwestycja w doświadczenie, gwarancja jakości.</p>
  </div>

  <div class="divider"></div>

  <div class="bottom">
    <p class="copy">
      © {{ year }} Mandala Nieruchomości. Design by
      <a href="https://www.linkedin.com/in/mikolaj-andrzejewski-90a75523b/" target="_blank" rel="noopener">
        Mikołaj Andrzejewski
      </a>
    </p>
    <a class="privacy" routerLink="/polityka-prywatnosci">Polityka prywatności</a>
  </div>
</footer>
