<div class="title">
    Lista realizacji
</div>
<div class="page">
    <div *ngFor="let realization of realizationsList; let i = index" class="item_realization">
        <div class="title_realization">
            {{realization.id}}.
            {{realization.title}}
        </div>
        <div class="images_container">
            <div *ngIf="realization.images[0]?.bloob" class="images">
                <img [src]="realization.images[0].bloob" alt="">
            </div>
        </div>
        <div (click)="deleteRealization(realization.id)" class="delete_container">
            X
        </div>
    </div>
</div>