<div class="page">
    <div class="title">
        <h2>Realizacje</h2>
        <img class="addition" src="../../../assets//additions/addition03.png" alt="realizacje oferty zarządzanie nieruchomościami">
    </div>
    <div class="items_container">
        <div *ngFor="let image of realizationsList; let i = index" class="item" [ngStyle]="{'background-image': 'url(' + image.images[0]?.bloob! + ')'}">
            <!-- <img src="../../../assets/realizations/ramka-na-sciane-ze-skandynawskim-wnetrzem-domu.jpg" alt=""> -->
        </div>
        <div *ngIf="realizationsList?.length! <= 3" class="item">
            
        </div>
        <div *ngIf="realizationsList?.length! <= 2" class="item">
            
        </div>
        <div *ngIf="realizationsList?.length! <= 1" class="item">
            
        </div>

        <div *ngIf="realizationsList?.length! <= 0" class="item">
            
        </div>
    </div>
    <div class="btn_container">
        <img src="../../../assets/icons/arrow-prev-small-svgrepo-com.svg" alt="">
        1<div class="txt_no_font">/</div>1
        <img src="../../../assets/icons/arrow-next-small-svgrepo-com.svg" alt="">
    </div>
</div>