.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
    padding-bottom: 3rem;
}
.title{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}
.title .addition{
    width: 240px;
}
.items_container{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    // align-items: center;
    column-gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.item{
    flex: 1;
    background-color: #fff;
    // background-image: url('../../../assets/realizations/ramka-na-sciane-ze-skandynawskim-wnetrzem-domu.jpg');
    // height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 18%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.btn_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}
.btn_container img{
    width: 40px;
    cursor: pointer;
}
.txt_no_font{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 6px;
}
.item img{
    width: 100%;
}
.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the background color and opacity */
    color: #fff; /* Text color */
    // padding: 10px;
    // width: 100%;
    width: calc(100%);
    // padding-top: 0.75rem;
    // padding-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}

/* Show the text on hover */
.item:hover .image-text {
    opacity: 1;
}




@media only screen and (max-width: 1000px){
    .items_container{
        flex-wrap: wrap;
        row-gap: 1.5rem;
    }
    .items_container > div{
        flex: calc(50% - 1.5rem);
    }
    .item{
        padding-bottom: 40%;
        // flex: 50%;
        // width: 50%;
    }
}
