.container_nav{
    height: 50px;
    background-color: #141414;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    margin-left: 2rem;
    color: #c5a342;
    cursor: pointer;
}
.title img{
    height: 35px;
}
.btn_logout{
    margin-right: 2rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn_logout:hover{
    color: #c5a342;
    transition: 0.3s;
}