body, html{
    margin: 0px;
    padding: 0px;
    font-family: "MandalaBrampton", sans-serif;
    letter-spacing: 1px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #c4a241;
    border: 0px none #fff;
    border-radius: 50px;
}
@font-face {
  font-family: 'MandalaBrampton';  // Replace with your desired font name
  src: url('./assets/fonts/MandalaBrampton.otf') format('opentype');  // Path to your .otf file
  font-weight: normal;
  font-style: normal;
}

// $global_gold: #c5a342;