<div class="page">
    <div class="title">
        <h2>Zakres usług</h2>
        <img class="addition" src="../../../assets//additions/addition03.png" alt="realizacje oferty zarządzanie nieruchomościami">
    </div>
    <div class="container_page">
        <div class="container_column">
            <div class="container_row">
                <div class="card">
                    <div class="card_item">
                        <div class="item">
                            <img src="../../../assets/image-service/patrzac-na-trzy-dimentional-hologramu-min.jpg" alt="">
                        </div>
                        <div class="title_item">
                            <h2>Zarządzanie okresem deweloperskim</h2>
                        </div>
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="card_item">
                        <div class="item">
                            <img src="../../../assets/image-service/ujecie-modelu-architektonicznego-na-stole-w-biurze.jpg" alt="">
                        </div>
                        <div class="title_item">
                            <h2>Zarządzanie budynkami komercyjnymi i zasobami wspólnotowymi</h2>
                        </div>
                    </div>
                </div> -->
                <div class="card">
                    <div class="card_item">
                        <div class="item">
                            <!-- <img src="../../../assets/image-service/nowoczesne-centrum-biznesowe.jpg" alt=""> -->
                            <img src="../../../assets/image-service/meski-agent-nieruchomosci-dajacy-klucze-do-nowego-domu-kupujacej-min.jpg" alt="">
                        </div>
                        <div class="title_item">
                            <h2>Opieka najmem nieruchomości</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container_row">
                <div class="card">
                    <div class="card_item">
                        <div class="item">
                            <img src="../../../assets/image-service/ujecie-modelu-architektonicznego-na-stole-w-biurze-min.jpg" alt="">
                        </div>
                        <div class="title_item">
                            <h2>Zarządzanie budynkami komercyjnymi i zasobami wspólnotowymi</h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_item">
                        <div class="item">
                            <img src="../../../assets/image-service/czesc-mezczyzna-robotnik-budowlany-min.jpg" alt="">
                        </div>
                        <div class="title_item">
                            <h2>Serwis konserwatorski</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="container_row">
                <div class="card">
                    <div class="card_item">
                        <div class="item">
                            <img src="../../../assets/image-service/meski-agent-nieruchomosci-dajacy-klucze-do-nowego-domu-kupujacej.jpg" alt="">
                        </div>
                        <div class="title_item">
                            <h2>Opieka najmem nieruchomości</h2>
                        </div>
                    </div>
                </div>
                <div class="card"> -->
                    <!-- <div class="card_item">
                        <div class="item">
                            <img src="../../../assets/image-service/ujecie-modelu-architektonicznego-na-stole-w-biurze.jpg" alt="">
                        </div>
                        <div class="title_item">
                            <h2>Zarządzanie zasobami wspólnotowymi</h2>
                        </div>
                    </div> -->
                <!-- </div>
            </div> -->
        </div>
        <article class="container_right_text">
            Jesteśmy firmą rodzinną składającą się z profesjonalistów, którzy zarządzają nieruchomościami, 
            kładąc szczególny nacisk na indywidualne podejście do każdego Klienta. Naszą główną misją jest zapewnienie komfortu życia właścicieli nieruchomości, ponieważ to właśnie dla nich istniejemy.
            <br>
            <br>
            Dzięki wieloletniemu doświadczeniu zdobytemu w branży zarządzania nieruchomościami, 
            wypracowaliśmy wysokie standardy zarządzania. Nasze podejście koncentruje się nie tylko na optymalizacji kosztów, ale także na budowaniu trwałych i pozytywnych relacji z naszymi Klientami. Jesteśmy przekonani, że zaufanie jest kluczem do długotrwałej współpracy.
            <br>
            <br>
            Jeśli marzysz o partnerze, który nie tylko doskonale zarządza Twoją nieruchomością, ale także w pełni rozumie Twoje indywidualne oczekiwania, to jesteśmy gotowi do działania. 
            Skontaktuj się z nami, aby dowiedzieć się, jak możemy Ci pomóc w efektywnym zarządzaniu Twoją nieruchomością.
            <div (click)="smoothScroll('section4')" class="btn_option">
                Kontakt >
            </div>
            <!-- <div class="logo_text">
                <img src="../../../assets/logo/Mandala_logotyp_bialy_przezroczystosc.png" alt="">
            </div> -->
        </article>
    </div>
</div>