.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141414;
    background: radial-gradient(circle, rgba(33,33,33,1) 0%, rgba(14,14,14,1) 100%);
    color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 30px 0px;
}
.title{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}
.title .addition{
    width: 240px;
}
.container_column{
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 1.5rem;
}
.container_row{
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 1.5rem;
    align-items: flex-start;
}
.container_page{ 
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    width: 75%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.card_item{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    // width: 60%;
    // background-color: #fff;
    // padding: 1rem;
    // color: #000;
    border-radius: 15px;
    // width: max-content;
}
.reverse_card_item{
    // flex-direction: row-reverse;
}
.card{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    // width: 100%;
    flex: 1;
}
.reverse_card{
    // flex-direction: row-reverse;
}
.title_item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Righteous';
    letter-spacing: normal;
}
.title_item h2{
    margin-top: 0px;
    // white-space: nowrap;
}
.item{
    display: flex;
}
.item img{
    // max-width: 400px; //fixed 4k
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #fff;
}
.container_right_text{
    width: 50%;
    // font-size: 1.4rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 2rem;
    margin-top: 0px;
    font-family: 'Righteous';
    letter-spacing: normal;
}
.btn_option{
    margin-top: 1rem;
    color: #c5a342;
    text-align: end;
    font-size: 1rem;
    cursor: pointer;
}
.logo_text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container_right_text img{
    // height: 300px;
    width: 300px;
    margin-top: 1rem;
    // animation: pulse 3s infinite linear;
}





@keyframes pulse {
    0% {
    transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@media only screen and (max-width: 1300px){
    .container_right_text img{
        display: none;
    }
}
@media only screen and (max-width: 1000px){
    .container_page{
        flex-direction: column;
    }
    .card_item{
        width: max-content;
    }
    .card{
        width: calc(50% - 0.8rem);
    }
    .item{
        min-height: 90px;
    }
    .container_column{
        width: 100%;
    }
    .title_item{
        font-size: 0.8rem;
    }
    .container_right_text{
        width: 100%;
        margin-left: 0px;
        margin-top: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }
}